# Copy to .env and fill in your database credentials
# This file contains the database credentials for the Streamlit dashboard

DB_HOST=a9c3c220991da47c895500da385432b6-1807075149.ap-south-1.elb.amazonaws.com
DB_PORT=3310
DB_NAME=live
DB_USER=techadmin
DB_PASSWORD=Rl@ece@1234

